/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  background: #fff;
  padding-top: 1rem;
  line-height: 1.2;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
}

h1, p {
  margin: 1.125rem 0;
}

body, html {
  font-size: $base-font-size;
}

.img {
  text-align: center;
  img {
    max-width: 500px;
    max-height: 250px;
  }
}

h1 {
  font-size: 2rem;
  font-family: 'Courier';
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiasing;
}

.quote {
  font-family: 'Courier', monospace;
  color: $quote-color;
  width: 20%;
  text-align: right;
}

.page {
  padding-left: 3rem;
  width: 60%;
}

.right {
  width: 20%;
}

.author:before {
  content: '—';
  padding-right: 0.25rem;
}

.tabs {
  clear: both;
  position: relative;
  max-width: $content-width;
  margin: 0 auto;
}

.tab {
  float: right;
  label {
    position: relative;
    top: 0;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    color: $base-font-color;
  }
}

label {
  border-right: 1px solid $base-font-color;
}

.Contact {
  border-right: 0px;
}

.tab [type=radio] {
  display: none;
}

.tab__content {
  position: absolute;
  top: 5rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .7s cubic-bezier(.42, 0, .34, 1.01);
  opacity: 0;
  font-size: 1.2rem;
}

[type=radio]:checked~label {
  color: $base-font-color;
  z-index: 2;
  color: cadetblue;
}

[type=radio]:checked~label~.tab__content {

  z-index: 1;
  opacity: 1;
}
